[2021-09-30 14:56] humnaawan opened #1 "[SPRINT] set up feedback form for the sprint week"
# set up feedback form for the sprint week

The goal of this sprint is to formulate and finalize the questions to be sent out in the feedback form following the Sprint Week.

Contacts: @humnaawan
Day/Time: Wednesday (assuming thats the designated service-sprints day)
Main communication channel: #desc-hack-sprint

## Goals and deliverables
- Reach: draft questions for the feedback form (anyone can

[2021-10-06 14:28] gnarayan opened #2 "[SPRINT] ELAsTiCC - Run simulations of all classes for challenge"
# ELAsTiCC - Run simulations of all classes for challenge

We're ready to finalize SNANA input files and generate the simulations + serialize them into AVRO for all alerts.
For efficiency, it helps to have a few (4-6) people submitting jobs in parallel, divvying up different classes.

Contacts: Gautham, Renee, Rick
Day/Time: Full week
Main communication channel: #plasticc-public on slack
GitHub re

[2021-10-06 14:35] gnarayan opened #3 "[SPRINT] ELAsTiCC - complete release note"
# ELAsTiCC - complete release note

Document ELAsTiCC challenge for broker teams and other groups in a DESC note

Contacts: Gautham, Alex, Renee
Day/Time: All
Main communication channel: #plasticc-public
GitHub repo: https://www.overleaf.com/read/cdqfmyqdpnrm (ping contacts for edit link)

## Goals and deliverable
Write more faster

## Resources and skills needed
If from ELAsTiCC team - some knowl

[2021-10-06 14:48] gnarayan opened #4 "[SPRINT] ELAsTiCC - work on TOM Toolkit/Marshal system on CC @ IN2P3"
# ELAsTiCC - work on TOM Toolkit/Marshal system on CC @ IN2P3

[One sentence description]

Contacts: Gautham, Alex Kim, Johann Cohen-Tanugi
Day/Time: All - focused at computing resources at IN2P3
Main communication channel: #desc-alerts-topical-team
GitHub repo: https://github.com/LSSTDESC/tom_desc

## Goals and deliverable
Make sure streams from all brokers in ELAsTiCC challenge (ALeRCE, AMPEL, A

[2021-10-07 05:24] JulienPeloton commented on #4
There are already TOM packages available for some of the brokers:

- ALeRCE: https://github.com/TOMToolkit/tom_base/blob/main/tom_alerts/brokers/alerce.py
- ANTARES: https://github.com/TOMToolkit/tom_antares
- Fink: https://github.com/TOMToolkit/tom_fink
- Lasair: https://github.com/TOMToolkit/tom_base/blob/main/tom_alerts/brokers/lasair.py

Some of them are not syncing data "live". E.g. in Fink,

[2021-10-07 15:15] marcpaterno opened #5 "[SPRINT] Firecrown development"
# Firecrown development

Pair programming effort to push forward implementation of new Firecrown design.

Contacts: Sandro V @vitenti and Marc P @marcpaterno
Day/Time: Tuesday through Friday, 10 AM - 3PM US/Pacific time
Main communication channel: Firecrown channel in Slack
GitHub repo:  git@github.com:LSSTDESC/firecrown.git/tree/librefactor

## Goals and deliverable

Our goal is to end the week w

[2021-10-07 15:51] humnaawan opened #6 "[SPRINT] add summary metric from Lochner+2021 to rubin_sim"
# add summary metric from Lochner+2021 to `rubin_sim`

The goal is here is to add the combined metric from Lochner+2021 in [`rubin_sim`](https://github.com/lsst/rubin_sim) so that the metric can be used by the Rubin Survey Simulations team to evaluate new strategies.

Contacts: @humnaawan, @MichelleLochner
Day/Time: TBD (depending on who is interested and available)
Main communication channel: #de

[2021-10-07 16:08] humnaawan opened #7 "[SPRINT] add theLastMetric to rubin_sim"
# add `theLastMetric` to`rubin_sim`

The goal here is to add `theLastMetric` (introduced in [Malz+2021](https://arxiv.org/abs/2104.08229)) in [`rubin_sim`](https://github.com/lsst/rubin_sim) so that the metric can be used by the OSWG and the Rubin Survey Simulations team to evaluate observing strategies.

Contacts: @aimalz, @EiffL, @jfcrenshaw, @MelissaGraham
Day/Time: TBD
Main communication chann

[2021-10-08 14:55] humnaawan opened #8 "[SPRINT] brainstorm metric(s) quantifying DDF needs for WFD calibration"
# brainstorm metric(s) quantifying DDF needs for WFD calibration

This sprint would entail brainstorming metrics to quantify what we (DESC) need from DDFs to calibrate WFD and therefore be able to do our science.

Contacts: @humnaawan @saurabhwjha
Day/Time: TBD (depending on who is interested and available)
Main communication channel: #desc-obs-strat
GitHub repo:

## Goals and deliverables
- formu

[2021-10-08 15:20] humnaawan opened #9 "[SPRINT] create metric to check data uniformity with rolling cadence"
# create metric to check data uniformity with rolling cadence

The goal of this sprint is to create a metric to check data uniformity with rolling cadence to ensure that we get usable data releases with rolling cadence.

Contacts: @humnaawan @saurabhwjha
Day/Time: TBD (depending on who is interested and available)
Main communication channel: #desc-obs-strat
GitHub repo:

## Goals and deliverables

[2021-10-08 20:54] troyraen commented on #4
Pitt-Google now has proof-of-concept demos at: https://github.com/mwvgroup/tom_pittgoogle

[2021-10-12 03:24] arunkannawadi opened #10 "[SPRINT] Auto-update the publication count in the DESC landing page"
# Auto-update the publication count in the DESC landing page

The sprint will use the existing publication bot to update the `index.html` landing page to automatically increment the paper count.

Contacts: @arunkannawadi
Day/Time: Asynchronous
Main communication channel: #desc-website
GitHub repo: https://github.com/LSSTDESC/lsstdesc.github.io

## Goals and deliverable

- [x]  Update the publicati

[2021-10-12 21:57] katrinheitmann opened #11 "[SPRINT] DC2 Lessons Learned Note"
# DC2 Lessons Learned

This sprint will focus on finishing a note on what we have learned from the DC2 production process.

Contacts: @katrinheitmann
Day/Time: Tuesday, 10am PT
Main communication channel: #desc-dc2
GitHub repo: N/A
Zoom room no 8 [(Confluence)](https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+2021+Sprint+Week%3A+Zoom+Sign-Ups)

## Goals and deliverable
DC2 was a major pr

[2021-10-12 22:17] katrinheitmann opened #12 "[SPRINT] Start Science Planning"
# Science Planning

Start discussions about the science planning strategy for DESC and create a handful of "artifacts" (e.g. timeline charts) to help shaping the plan

Contacts: @katrinheitmann
Day/Time: Monday 9-10am PT, Wednesday, 8-10am PT
Main communication channel: #desc-leadership (we can discuss during the first session if there should be a dedicated slack channel for science planning)
GitH

[2021-10-13 10:11] nsevilla opened #13 "[SPRINT] Start a test master list for upcoming data"
# Start a test master list for upcoming data previews/releases

Compile a list of desired tests that we could conceive to be interesting to run from different Working Groups (this is a Science Release and Validation WG Sprint).

Contacts: @nsevilla @fjaviersanchez
Day/Time: starting on Monday, work asynchronously during the week, check in on Wednesday, debrief on Friday
Main communication channel:

[2021-10-13 20:02] MarkusMichaelRau opened #14 "[SPRINT] Break qp"
# [Break qp]

We were about to publish to PyPI when we discovered some big problems our simplistic unit tests failed to catch, so we want to invite participants to come up with the cases that will break qp so we can fix any bugs that cause the problems and write unit tests complex enough to catch them.

Contacts: Alex Malz
Day/Time:
Main communication channel: Slack
GitHub repo:

## Goals and deli

[2021-10-13 20:03] MarkusMichaelRau opened #15 "[SPRINT] RAIL beta testing"
# RAIL beta testing

We're at a stage where we need new participants to try installing and using RAIL to identify what needs better documentation and what in the API needs to be refined.

Contacts: Alex Malz
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]

## Resources and skills needed
[describ

[2021-10-13 20:05] MarkusMichaelRau opened #16 "[SPRINT] Wrap your photo-z estimator for RAIL"
# [Wrap your photo-z estimator for RAIL]

It takes about 1 day to wrap your photo-Z estimator into RAIL. We are happy to assist you and look forward to your participation.

Contacts: Alex Malz
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]

## Resources and skills needed
[describe the resources

[2021-10-14 20:33] jablazek opened #17 "[SPRINT] Determine halo orientation from downsampled particles"
# Determine halo orientation from downsampled particles

Test the impact of limited particle number in the precision of measured halo orientation.

Contacts: @jablazek @nvanalfen @EiffL
Day/Time: All week
Main communication channel: slack, zoom: https://northeastern.zoom.us/j/8435767380
GitHub repo:

## Goals and deliverable
Using SkySim5000 or other data, we want to answer the following questions

[2021-10-14 20:52] aphearin commented on #17
In addition to the tests outlined above, we may also find it useful to study the resolution question by looking at idealized ellipsoidal NFW halos. It is easy to generate such halos with [this halotools function.](https://halotools.readthedocs.io/en/latest/api/halotools.empirical_models.NFWPhaseSpace.html#halotools.empirical_models.NFWPhaseSpace.mc_generate_nfw_phase_space_points)

The way this te

[2021-10-14 20:55] aphearin commented on #17
In case we want to run tests on smaller simulations whose downsampled particles do not require multiple compute nodes, [this halotools function](https://halotools.readthedocs.io/en/latest/api/halotools.mock_observables.inertia_tensor_per_object.html) may also be useful. I'm guessing it provides the single-node analog of the same computation used to extract shapes from the HACC sims.

[2021-10-14 23:16] cahebert opened #18 "[SPRINT] psf-weather-station CI setup"
# psf-weather-station development

psf-weather-station is a package which enables realism in atmospheric PSF simulations; it's under development and we'll be working on setting up continuous integration and unit testing.

Contacts: Claire-Alice Hébert (@cahebert), Sid Mau (@sidneymau)
Day/Time: weeklong, PST
Main communication channel: #desc-psf or DM
GitHub repo: https://github.com/LSSTDESC/psf-w

[2021-10-15 20:46] ismael-mendoza opened #19 "[SPRINT] BlendingToolKit - Release v1.0.0"
# BTK - Release v1.0.0

In this sprint we finalize the v1.0.0 release of the BlendingToolKit!

Contacts: @ismael-mendoza
Day/Time: Oct 25 -29 / 8a - 12p EST
Main communication channel: #blending_toolkit
GitHub repo: https://github.com/LSSTDESC/BlendingToolKit
Zoom: Please join the **#blending_toolkit** slack channel, the zoom room will be the one that's pinned here. It's also in the corresponding

[2021-10-15 21:07] beckermr opened #20 "[SPRINT] cell-based coadds etc w/ DM"
# Cell-based Coadds w/ DM

We are planning a bunch of chats and work with DM to push along cell-based coadds.

Contacts: @beckermr
Day/Time: all-week, working hours CDT/EDT
Main communication channel: #dm-coadds
GitHub repo: N/A

## Goals and deliverable

 - Be able to run the DESC cell-based coadding code within DM as a part of regular processing.
 - Knowledge transfer to DM of how various things

[2021-10-18 17:43] evevkovacs opened #21 "Ellipticity Bug Fix"
# [SPRINT] Ellipticity Bug Fix

Develop and run code to write a new version of cosmoDC2  (and SkySim5000) with the corrected ellipticities

Contacts: @evevkovacs
Day/Time: Starting Monday, continuing throughout the week as needed
Main communication channel: TBD
GitHub repo: [https://github.com/LSSTDESC/cosmodc2](cosmodc2)

## Goals and deliverable
Correct the ellipticity bug in cosmoDC2 and write

[2021-10-18 19:02] gnarayan commented on #4
@JulienPeloton - I don't think it has to be in real-time to all the brokers. We know (as @AlexGKim and @rbiswas4  wrote in the original DESC LONI) that DESC doesn't actually need alerts in real-time and can live with 1 day latency. Certainly there are going to be metrics that measure latency, and the end-of-night processing model of FINK will have an impact there, but again we're not doing this as

[2021-10-18 20:38] yymao commented on #21
Should we take this opportunity and direct write out to parquet?

[2021-10-18 20:42] yymao commented on #10
Happy to help!

[2021-10-19 01:46] katrinheitmann opened #22 "[SPRINT] DC2 Clean up Sprint"
# DC2 Clean up Sprint

As part of this sprint we will clean up the DC2 production github repo and collect a list of papers that have resulted from DC2 so far.

Contacts: Katrin Heitmann
Day/Time: Wednesday, 12-1pm PT
Main communication channel: #desc-dc2
GitHub repo: https://github.com/LSSTDESC/DC2-production
Zoom channel no 8 [(Confluence)](https://confluence.slac.stanford.edu/display/LSSTDESC/DE

[2021-10-19 10:54] c-d-leonard opened #23 "[SPRINT] N5K paper writing"
# N5K paper writing

Write the remaining background / theory sections of the N5K paper draft and start writing results sections.

Contacts: Danielle Leonard, c-d-leonard on slack
Day/Time: Tuesday, Thursday and Friday, UK working hours
Main communication channel: desc-ccl-n5k (slack)
GitHub repo: LSSTDESC/N5K

## Goals and deliverable
Finish at least the challenge setup section. Stretch goal, skel

[2021-10-19 14:06] humnaawan opened #24 "[SPRINT] address referee's comments on the OSWG metrics paper"
# address referee's comments on the OSWG metrics paper

The goal of this sprint is to address as many of the referee's comments on the OSWG metrics paper as possible.

Contacts: @humnaawan @saurabhwjha @MichelleLochner @dscolnic
Day/Time: one cowork session at the nominal OSWG telecon time on Monday, Oct 25, 8am PT; others TBD
Main communication channel: #desc-obs-strat

## Goals and deliverable
-

[2021-10-19 14:32] evevkovacs commented on #21
We could. I will need a tutorial however.

[2021-10-19 16:11] ixkael opened #25 "[SPRINT] EDI driver diagrams for DESC"
# EDI driver diagrams for DESC

Let's work together on a 'driver diagram' to connect high-level EDI goals with actionable tasks!

Contacts: Boris Leistedt
Day/Time: Thursday at 8am pacific / 4pm UK time
Main communication channel: slack: #desc-aps-idea
Zoom: https://stanford.zoom.us/j/96459004983?pwd=QWxZbTBzWHlwUC9oWG05MFBRL0dLZz09
Google doc: https://docs.google.com/document/d/1fsJ0MB9t_O3KPdx6H

[2021-10-19 16:19] ixkael opened #26 "[SPRINT] DC2 source injections"
# DC2 source injections

Making some progress on DC2 SSI: more realistic processing, some infrastructure work

Contacts: Boris Leistedt
Day/Time: Thursday or Friday afternoon UK time (but can move if there is interest)
Main communication channel: slack: #desc-source-injection

## Goals and deliverable
- run some DC2 SSI again, potentially more patches
- run actual processing pipeline instead of se

[2021-10-19 16:34] fjaviersanchez opened #27 "[SPRINT] HSC 3x2pt reanalysis (infrastructure+draft)"
# HSC 3x2pt reanalysis in harmonic space

We'll continue the work in the 3x2pt reanalysis project. Follow along in #desc-hsc-3x2-reanalysis.

Contacts: @fjaviersanchez
Day/Time: TBD
Main communication channel: #desc-hsc-3x2-reanalysis
GitHub repo: [TXPipe](https://github.com/LSSTDESC/TXPipe), and [txpipe-reanalysis](https://github.com/LSSTDESC/txpipe-reanalysis)

## Goals and deliverable

The goal

[2021-10-19 23:01] anicola opened #28 "[SPRINT] DESC Bias Challenge"
# DESC Bias Challenge

Work on DESC bias challenge project: https://github.com/LSSTDESC/DESCBiasChallenge

Contacts: Andrina Nicola
Day/Time: all week
Main communication channel: #desc-bias-challenge
GitHub repo: https://github.com/LSSTDESC/DESCBiasChallenge

## Goals and deliverable
For current status: check out the github issues and the LSS slide deck: https://docs.google.com/presentation/d/1R35

[2021-10-20 13:44] combet opened #29 "[SPRINT] CLMM development"
# CLMM development

Contacts: @combet
Day/Time: Mon, Tue, Wed (specific times, TBD)
Main communication channel: #desc-cl-clmassmod

Daily progress update: 6pm on zoom (unless conflicting CL-related sprints)

GitHub repo: [CLMM](https://github.com/LSSTDESC/clmm)

## Goals and deliverable
Start the implementation of several beyond v1.0 functionalities of CLMM. These include:
- on the data side: enab

[2021-10-20 16:35] c-d-leonard opened #30 "[SPRINT] dNdz / kernels for N5K analysis"
# dNdz / kernels for N5K analysis

To do some of the higher level evaluation of the N5K entries, we need a couple of variations on the fiducial dNdz / kernels provided in the challenge repo. The sprint is to produce these and push them to the repo.

Contacts: Danielle Leonard
Day/Time: Tuesday, Thursday or Friday, UK morning
Main communication channel: slack: desc-ccl-n5k
GitHub repo: https://gith

[2021-10-20 16:39] c-d-leonard opened #31 "[SPRINT] debug issue with N5K entry on NERSC"
# debug issue with N5K entry on NERSC

One of the N5K entries is currently giving a different delta chi squared value on NERSC vs on laptops. Figure out why and fix it.

Contacts: Danielle Leonard / Tassia Ferreira
Day/Time: not sure yet
Main communication channel: slack: desc-ccl-n5k
GitHub repo: https://github.com/LSSTDESC/N5K

## Goals and deliverable
Get agreement in this delta chi^2 between l

[2021-10-20 16:43] ahgpeter opened #32 "[SPRINT] Dark matter w/Rubin Snowmass white paper"
# Dark matter w/Rubin Snowmass white paper

Help us advocate for dark matter science with Rubin in the current Snowmass Process!

Contacts: Annika Peter, Yao-Yuan Mao
Day/Time: Thursday, 10:30-11:30 am Eastern, 1-2:30 pm Eastern
Main communication channel: #desc-dark-matter
Zoom: https://stanford.zoom.us/j/96280306148?pwd=QmU4R3NkT3VQS2I1NHBMQ1E1STYrUT09
GitHub repo: N/A

## Goals and deliverable

[2021-10-20 16:43] c-d-leonard opened #33 "[SPRINT] run N5K entries for analysis"
#  run N5K entries for analysis

We need to run the N5K entries for different numbers of auto and cross correlations, different widths of redshift bins, and different required precisions.

Contacts: Danielle Leonard
Day/Time: Danielle - UK morning on Tuesday, Thursday and Friday. Asynchronous to this welcome.
Main communication channel: slack - desc-ccl-n5k
GitHub repo:https://github.com/LSSTDESC/

[2021-10-20 16:55] carlosggarcia opened #34 "[SPRINT] Finish TXPipe interface with NaMaster TJPCov"
# TXPipe interface with NaMaster TJPCov

Finish the TXPipe interface with the NaMaster TJPCov. This should help #27.

Contacts: @carlosggarcia
Day/Time: Monday - Thursday (TBD but < 18 BST)
Main communication channel: Slack
GitHub repo: https://github.com/LSSTDESC/TXPipe/tree/namaster_cov and https://github.com/LSSTDESC/TJPCov/tree/txpipe_comp

## Goals and deliverable
Being able to compute the Na

[2021-10-20 17:09] damonge commented on #30
When this is done I'll make it my task to generate the corresponding benchmarks! Please ping me.

[2021-10-20 17:31] gnizq64 opened #35 "[SPRINT] Brainstorming for 3 point statistics pipeline"
# Brainstorming for 3 point statistics pipeline

Contacts:
Alejandro Aviles, Gustavo Niz
Day/Time: all week (First meeting: Monday at 8-10am PST, Second meeting: Thursday or Friday, time to be decided in slack channel according to participation)
Main communication channel: #desc-sprint2021-3pts

## Goals and deliverable
Systematic understanding of pros and cons of different 3pts estimators

## Res

[2021-10-20 19:48] rearmstr opened #36 "[SPRINT] Bayesian Pipeline Organization"
# Bayesian Pipeline Organization

We want to start planning and organizing for the Bayesian Pipelines topical team.

Contacts: Bob Armstrong, Francois Lanusse
Day/Time:
Main communication channel: desc-bayesian-pipeline-tt
GitHub repo:

## Goals and deliverable
* Discuss a framework to provide a Bayesian pipeline that would be alternative to the 3x2 pipeline.
* Develop a concrete pipeline that we

[2021-10-20 20:04] katrinheitmann commented on #22
I would like to invite @heather999 and @wmwv to join the sprint. Maybe we can find an hour where we are all available to work on this. Thanks!

[2021-10-20 20:13] rmandelb commented on #12
I self-assigned, as I'm interested in this.  However, I can only attend for part of the week (Tuesday and parts of Wednesday and Thursday).

[2021-10-20 20:20] rmandelb opened #37 "[SPRINT] making good use of the new publication system"
# Making good use of the new publication system

There are some things we can do to make good use of the new publication system, by providing pointers to WG pages and utilities to plot some statistics of the projects/papers.

Contacts: Rachel Mandelbaum (@rmandelb )
Day/Time: Tuesday, due to limited availability during sprint week
Main communication channel: TBD
GitHub repo: we will make a new one

[2021-10-21 03:38] kadrlica commented on #10
Do we want to expand this hack to connect the DESC PubDB to the publication page on the DESC website?

[2021-10-21 03:39] yymao commented on #10
Does DESC PubDB has a public accessible URL that lists the publication information in some machine readable format?

[2021-10-21 04:36] kadrlica commented on #10
So "yes" to the machine readable format. We'd need to figure out where we want to put it. My understanding is that SLACs publicly accessible html pages for users are not what they used to be.

[2021-10-21 09:29] jharno opened #38 "[SPRINT] Infusing IA in SkySim5000"
# Infusing IA in SkySim5000

This sprint will infuse IA in mock lensing catalogues based on SkySim5000 (not the official one) and assign intrinsic alignment models based on the projected tidal field tensor.

Contacts: Joachim Harnois-Deraps
Day/Time: M-Tu-W-Th
Main communication channel: desc-ia (slack)
GitHub repo: https://github.com/LSSTDESC/SkySim5000_IA_infusion

## Goals and deliverable
1- Th

[2021-10-21 14:49] marina-ricci opened #39 "[SPRINT] Brainstorm DESC Baryon pasting projects details"
# [Brainstorm DESC Baryon pasting projects details]

[This sprint is dedicated to discuss the specific DESC related baryon-pasting projects we want to propose.]

Contacts: @marina-ricci @ethlau
Day/Time: Anytime on Mon, Tues or Wed.
Main communication channel: #desc-cl, Baryon Pasters slack
GitHub repo: https://github.com/BaryonPasters
Slides : https://docs.google.com/presentation/d/1f4eK6WSLkdTKy

[2021-10-21 14:50] evevkovacs commented on #21
@yymao Could you please point me to the code that translates the hdf5 catalog to parquet format? I should be able to use most of that to rewrite the catalog and just add extra code to fix the bugs in specific columns. Thanks.

[2021-10-21 14:53] evevkovacs commented on #17
@jablazek Will you need particle data from the ANL simulations or do you already have simulation data that would be suitable for this study?

[2021-10-21 14:55] HironaoMiyatake commented on #39
Thank you for setting up the sprint! I prefer sometime between 8am - 11am ET / 2pm - 5pm CEST / 9pm - 12pm JST. I won't be available on Monday as I'll join BTK sprint, but Tuesday and Wednesday work for me.

[2021-10-21 14:58] marina-ricci commented on #39
2pm - 5pm CEST works for me generally on either day.

[2021-10-21 15:01] daisuke76 commented on #39
Thanks Marina for setting this up! I can do 2-3pm CEST on 10/26 (Tuesday) and 2-4:30pm CEST on 10/27 (Wednesday).

[2021-10-21 15:41] ethlau commented on #39
I am not available 3-4pm CEST / 9-10am EDT / 10-11pm JST on both Tuesday and Wednesday.

[2021-10-21 16:04] marina-ricci opened #40 "[SPRINT] TXPipe functionnality for cluster measurements"
# [TXPipe functionality for cluster measurements]

[Introduce TXPipe functionality. Discuss the development of the TXPipe Cluster module. Compare what can be done with TXPipe and CLMM in terms of cluster weak lensing profiles, identify next things to implement.]

Contacts: @marina-ricci @joezuntz
Day/Time: preferably Tuesday from 5 to 7 pm CEST
Main communication channel: TBD
GitHub repo: https://

[2021-10-21 16:04] marina-ricci commented on #40
@joezuntz

[2021-10-21 16:12] marina-ricci opened #41 "[SPRINT] Design a CLMM 'fitting' module that fits in a CL Cosmo pipeline"
# [Design a CLMM 'fitting' module that fits in a CL Cosmo pipeline]

Define the scope and design of a new CLMM module that would allow to fit WL profiles and return mass estimates.

Contacts: @marina-ricci
Day/Time: Thursday 4.30 to 5.30 CET (after CLEVAR sprint)
Main communication channel: slack clmm channel
GitHub repo: https://github.com/LSSTDESC/CLMM

## Goals and deliverable
A list of issues

[2021-10-21 16:52] jablazek commented on #17
@evevkovacs : this would be the full particle data for the massive halos in SkySim5000, right?

@aphearin @EiffL : Should we start with a different set of particle data (perhaps going to lower masses), or the idealized ellipsoids Andrew suggested? If there is time, we should see how the downsampling impacts both the idealized and realistic cases.

[2021-10-21 16:57] aphearin commented on #17
For purposes of getting the project off the ground quickly, it may be easier to begin working with a laptop-sized simulation that has publicly available particle data.

[2021-10-21 17:26] jpratmarti opened #42 "[SPRINT] Make a paper ready TXPipe flowchart for the CosmoDC2 paper."
# Make a paper ready TXPipe flowchart for the CosmoDC2 paper.

We will use: https://app.diagrams.net/ to make a TXPipe flowchart following the input from: https://docs.google.com/presentation/d/1kzl9pb2btdzWxLLCK0SkuhXLUmkPvwCluzth_871HXY/edit#slide=id.ge4f5dce8bd_4_0

Contacts: Judit Prat, Joe Zuntz
Day/Time: Monday 8:30 Pacific
Main communication channel: #desc-3x2pt
GitHub repo: https://github.

[2021-10-21 17:32] yymao commented on #21
@evevkovacs Sure, I think the relevant function is this one: https://github.com/LSSTDESC/DC2-production/blob/master/scripts/write_gcr_to_parquet.py#L75

[2021-10-21 19:47] evevkovacs commented on #17
@jablazek @aphearin  Yes, the question was about whether we would need a sample halo particle file from the Outer Rim simulation.  But Andrew has answered that at least to start with, no.  Then let me rephrase: Is it likely that, for the purposes of this sprint, you would need any of the full particle data from the Outer Rim simulation? Some of it is on tape, it is not stored halo by halo, and is

[2021-10-21 19:50] aphearin commented on #17
Seems to me that just using laptop-sized catalogs like the ones I provide with halotools would make it easier to make fast progress during sprint week. But I'm guessing that @jablazek and co., eventually want to work with a big sim.

[2021-10-22 00:16] patricialarsen commented on #17
The conclusion I've come to is that processing the low mass halos might be possible, but it would be a significant amount of effort to take the relevant data products off tape and re-process them.

When you're looking at this sprint, if you could make sure to check if any conclusions using idealized cases hold up for simulated, oddly shaped halos of the relevant mass resolution, what the level of

[2021-10-22 00:59] yyzhang opened #43 "[SPRINT] EDI Reading hour"
# [EDI reading hour]

Do you have a book, a video clip, or a article related to EDI, that you always wanted to read, but can't find time to do so? Come join us to read for an hour. 

Contacts: Yuanyuan Zhang
Day/Time: Monday
Main communication channel:
GitHub repo:

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]

Catch up on any EDI tasks for 45

[2021-10-22 04:36] humnaawan commented on #24
as a first co-work, we'll be meeting at the nominal OSWG telecon of 8a PT on Monday, using the telecon zoom line; i'll add this to the sprint schedule shortly.

[2021-10-22 07:33] ManuGangler opened #44 "[SPRINT] International In kind contribution Office Hours"
# In kind contribution Office Hours

This is open Office hour time for all international in kind stakeholders who wish to meet with the in kind management team.

Contacts: ManuGangler
Day/Time: Tuesday, Wednesday, Thursday, Friday 7am and 8 am PT
Main communication channel: Slack #desc-in-kind-support or DM @manugangler (on Slack preferably)
Mail: lsst-desc-in-kind@slac.stanford.edu
GitHub repo: N

[2021-10-22 09:35] c-d-leonard opened #45 "[SPRINT] Steps for publication on confluence"
# Steps for publication on confluence

Currently the steps of the publication process are just in the pub policy document. Make a step by step guide of who has to do what when on the publication board confluence page

Contacts: Danielle Leonard
Day/Time: Thursday or Friday (sorry I am not around Wednesday)
Main communication channel: slack DM?
GitHub repo: n/a

## Goals and deliverable
Update conf

[2021-10-22 12:14] rmandelb commented on #45
Hi @c-d-leonard - [this confluence page](https://confluence.slac.stanford.edu/display/LSSTDESC/Internal+Review+for+DESC+Papers) has many of the steps on it (from internal review onwards) so perhaps it could simply be enhanced to include earlier stages, if that is the only missing part?

Separately, I was thinking that the journal review page templates might benefit from having brief instructions o

[2021-10-22 13:23] cavestruz opened #46 "[SPRINT] CLCosmo FlowChart Planning"
# CLCosmo FlowChart Planning

CLCosmo focused sprint, which could start with a mapping of how one of the [example notebooks](https://github.com/LSSTDESC/CLCosmo_Sim/tree/issue/9%2Fnumcosmo_unbinned/notebooks) showing a cluster cosmology constraint with NumCosmo and SkySim5000 data, and to identify modular pieces that might correspond to DESC tools, or desired DESC functionality.  (A question here

[2021-10-22 13:38] cavestruz opened #47 "[SPRINT] DESC Simulated Clusters I/O and CLEVAR"
# DESC Simulated Clusters I/O and CLEVAR

Kick-start a CLFinder comparison project using clevar.  Enable new-users with a brief tutorial on accessing (1) cluster truth catalogs, and (2) any existing cluster finder catalog (redmapper, wazp, etc).  Begin CLFinder comparison work and test clevar.

Contacts: @m-aguena
Day/Time: **Thursday 3:30p CET/9:30a EST**
Main communication channel: #desc-cl-clev

[2021-10-22 14:47] ismael-mendoza opened #48 "[SPRINT] Galcheat"
# Galcheat

[Galcheat](https://github.com/aboucaud/galcheat) is a lightweight package containing useful parameters from main galaxy surveys (with units).

The purpose of this sprint is to bring people together to ensure the survey information in galcheat is correct so that it can start being helpful to others in the collaboration.

Contacts: @aboucaud, @ismael-mendoza
Day/Time: 8a - 12p EST
Main c

[2021-10-22 14:50] marina-ricci commented on #39
So when are you available @ethlau ?

[2021-10-22 14:54] torluca commented on #44
Hi,

thank you for this opportunity. I would like to benefit from it. My availabilities would be for the slots Tuesday 26th of October, 7am or 8 am PT.

Luca Tortorelli

[2021-10-22 14:54] ethlau commented on #39
I am available on these time slots: 2-3pm CEST, 4-5pm CEST on both Tues and Weds

[2021-10-22 14:56] marina-ricci commented on #39
Ok then I propose 2-3pm CEST Wednesday. I'll add that to the calendar.

[2021-10-22 15:45] arunkannawadi commented on #20
@beckermr For the goals and deliverable, could you add some bullet points instead of the "overwhelming" list :-D

[2021-10-22 15:53] yymao commented on #25
I responded to the poll, but unfortunately I have very limited availability so please lower the
priority of my schedule when deciding the time.

[2021-10-22 18:03] jbkalmbach opened #49 "[SPRINT] PZFlow Paper Writing"
# PZFlow Paper Writing

Work on finishing plots and notebooks for pzflow paper.

Contacts: @jbkalmbach
Day/Time: Mon 2-5 Pacific, Weds 1 - 4:30 Pacific
Main communication channel: Slack, Zoom Room DESC 9
GitHub repo: https://github.com/jfcrenshaw/pzflow-paper-2021

## Goals and deliverable
Deliverable will be notebook to generate plots for pzflow paper.

## Resources and skills needed

## Detailed

[2021-10-23 08:14] AlexGKim opened #50 "[SPRINT] Broker listeners for the ELaSTiCC Challenge"
# Broker listeners for the ELaSTiCC Challenge

Write listeners for Broker Alert Streams that will save their ELaSTICC results in a DESC-hosted database.

Contacts: Alex Kim
Day/Time:  Tuesday 10 am Pacific (TBC)
Main communication channel: TBD
GitHub repo: https://github.com/LSSTDESC/tom_desc

## Goals and deliverable
Work with DESC-members who are part of Broker teams to implement listeners in th

[2021-10-24 02:20] shenmingfu opened #51 "[SPRINT] CLMM on real data"
# Using CLMM on Real Datasets

Testing CLMM on published observation datasets as an example of CLMM.

Contacts: @shenmingfu
Day/Time: Monday - Friday (Oct. 25 -29, 2021)
Main communication channel: #desc-cl-clmassmod
GitHub repo: https://github.com/LSSTDESC/CLMM

## Goals and deliverable
Building a Jupyter notebook for demonstrating using CLMM on some published observation data.

## Resources and

[2021-10-24 02:38] shenmingfu commented on #51
The steps of this sprint:

- [x] Installing CLMM and setting things up
- [x] Selecting a cluster
- [x] Downloading the published catalogs at the cluster field
    - [x] Shear catalog
    - [x] Photo-z catalog
    - [x] Photometry catalog
- [x] Loading the catalog into CLMM
    - [x] Reading in the catalog
    - [x] Adding cuts on the catalog
    - [x] Adjusting column names
- [x] Running CLMM on t

[2021-10-24 09:14] matmaturi commented on #47
count me in

[2021-10-24 19:44] mpwiesner opened #52 "[SPRINT] Generate a list of all DC2 Run 2.2i visits"
# Generate a list of all DC2 Run 2.2i visits

I want to generate a human-readable list of DC2 Run 2.2i visits, including MJD, filter and RA and DEC of center. I am trying to choose a series of instance files for the Kilonova Data Challenge, and having such a list would be very helpful.

Contacts: Matt Wiesner @mpwiesner matthewwiesner@aol.com
Day/Time: Thursday during the daytime in the central US

[2021-10-24 21:49] eduardojsbarroso commented on #29
I would like to help if I can

[2021-10-24 23:45] gvalogia opened #53 "[SPRINT] Forecasting constraints to gravity with the MG emulator"
# Forecasting constraints to gravity with the MG emulator

The goal of this sprint is the continuation of current ongoing efforts on forecasting constraints to the f(R) Hu-Sawicki MG model by the Rubin Observatory, utilizing the matter power spectrum emulator mgemu. It is a continuation of work that started during the 2020 Sprint week ([link to last year's sprint)](https://github.com/LSSTDESC/Spri

[2021-10-25 00:13] rmandelb commented on #37
As mentioned in the first comment, this sprint will take place on Tuesday.  On Monday I will share basic material here, like a GitHub repo and a Zoom line we can use for discussion.

[2021-10-25 03:06] mishakb commented on #38
It would be great to let all know when we are meeting. Also, my student Leonel has been reading the paper on the method and would like contribute but not sure if he has a desc github userneme so far. I will ping him

[2021-10-25 03:49] shuang92 opened #54 "[SPRINT] DC2 Cluster Blending"
# DC2 Cluster Blending

Estimate the amount of blends in cluster fields in DC2. Quantify the impact on photo-z.

Contacts: @shuang92
Day/Time:
Main communication channel: slack@Shuang Liang
GitHub repo: https://github.com/LSSTDESC/Cluster_Blending

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]

## Resources and skills needed
[describe the resou

[2021-10-25 09:17] sylvielsstfr commented on #16
Hello, I have given my planning 6 days ago to work with somebody from the rail-pz core team on delight-rail Monday 2:30-5 pm CET Monday and Tuesday, but It appears my requirement has disappear from the agenda. What a mess ...
I don' t know what sould I do !

[2021-10-25 09:18] sylvielsstfr commented on #16
I have written here which zoom channel I will connect : https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+2021+Sprint+Week%3A+Zoom+Sign-Ups

[2021-10-25 09:26] EiffL commented on #38
# Notes from monday meeting with Joachim

- kappa maps up to z=3 (Born approximation)
- shear maps by spherical harmonics
- 0.6 gal/arcmin^2 with n(z) for 5 tomo bins catalogs with: ra, dec, z, kappa, gamma1, gamma2, s11, s22, s12

Things to do:
 - [ ] : Validate catalogs with treecorr
 - [ ] : Compute[ full sky Cl with either namaster](https://github.com/LSSTDESC/SkySim5000_IA_infusion/issues/2)

[2021-10-25 10:57] joezuntz commented on #40
Installation instructions: https://txpipe.readthedocs.io/en/documentation/installation.html
I'll collate some introductory slides before the session.

[2021-10-25 12:59] aboucaud commented on #48
Help is specifically needed for the following issues
- https://github.com/aboucaud/galcheat/issues/25
- https://github.com/aboucaud/galcheat/issues/26
- https://github.com/aboucaud/galcheat/issues/27
- https://github.com/aboucaud/galcheat/issues/28

[2021-10-25 14:13] chihway opened #55 "[SPRINT] STAR Data Readiness Challenge Planning"
# STAR Data Readiness Challenge Planning

Chat about planning out the Science Readiness Challenge. We will have a general discussion in the first hour (if that fills an hour) and go through mapping projects in separate working groups in the second hour. Feel free to drop in and out.

Contacts: @chihway
Day/Time: Oct 25, ~9.15 CT - 11 CT
Main communication channel: #desc-static-science-coord
Zoom:

[2021-10-25 14:49] MarkusMichaelRau commented on #44
Shahab and I would like to reserve the slot on Tue 8am. Thanks so much!

[2021-10-25 15:01] ManuGangler commented on #44
Yes, sure ! Tuesday is now Full...

[2021-10-25 15:46] kadrlica commented on #10
@yymao are you interested in giving this a shot this week?

[2021-10-25 15:56] yymao commented on #10
I am, but I am stretched a bit thin this week because I have to attend another virtual conference.

Does the URL already exist (if so, can you DM me), and what we need to do is to interface it with the website, or does what we need to do this week is to create that URL?

[2021-10-25 16:21] humnaawan commented on #6
i've written to @MichelleLochner for her code. once we have it, i can help @mbronikowski to get started.

[2021-10-25 16:35] EiffL commented on #38
Here is my progress report for today, I opened a notebook here:
https://github.com/LSSTDESC/SkySim5000_IA_infusion/blob/main/NaMaster.ipynb
![image](https://user-images.githubusercontent.com/861591/138735086-d0659e11-1418-4564-96b5-b0d75a105191.png)
And should be not too far away from some nice pseudo Cells with NaMaster

[2021-10-25 16:53] aboucaud commented on #48
I just updated the CONTRIBUTING document to help participants submit their pull requests

https://github.com/aboucaud/galcheat/blob/main/CONTRIBUTING.md

[2021-10-25 16:57] yyzhang commented on #43
I have spent 45 mins reading a chapter "waking up to Priviledge" by Stephanie A. Sheilds from "Presumed Incompetent".
 In this chapter, Stephanie identified as an able-bodied, white woman and a full professor in psychology at a US university. She discussed her journey coming from a working-class family to pursue a college degree sponsored by scholarships, and then being in the first cohort of grad

[2021-10-25 17:08] idellant commented on #43
As part of the meeting, I read through the Nature communications article "an actionable anti-racism plan for geoscience organizations", by Hendratta Ali et al., with a particular interest in looking at what items would translate well to DESC.  I also spent time perusing the NSF PhD statistics in the various sciences, motivated by the statement that geological sciences are among the least diverse s

[2021-10-25 18:32] aphearin commented on #17
Here's some code that should be useful for generating triaxial NFW halo profiles https://github.com/aphearin/ellipsoidal_nfw

[2021-10-25 18:59] katrinheitmann commented on #12
Thanks all who were available to participate in the first sprint this morning! Based on our discussions, the finished the first draft of the timeline diagram going out to 2025:
![Screen Shot 2021-10-25 at 1 50 10 PM](https://user-images.githubusercontent.com/12860812/138753885-e53f35a6-9fc2-49e8-8a68-7943664cb740.png)
I will add some more text later today to have the different timelines also writt

[2021-10-25 19:38] jharno commented on #38
Sorry everyone, I accidentally closed the issue, instead of deleting a comment. Our Sprint is still open!

[2021-10-25 19:39] #50 closed, assigned to troyraen

[2021-10-25 20:48] cavestruz commented on #40
Notes for session in CLGeneral [here](https://docs.google.com/document/d/17EMvmPdwOViw9-HN99dXrNbCoclfkdnO1UNLMkKeYig/edit?pli=1#)

[2021-10-25 21:29] rmandelb commented on #12
Apologies that I missed it this morning - I have another commitment on Monday and Friday of this week, but will happily join the second set of discussions scheduled for Wednesday.

I think this is a really useful update of the timeline diagram.

Two thoughts for your consideration:
- Might it make sense to have an arrow or something connecting the blue boxes to the appropriate Data Preview box (i.

[2021-10-25 21:31] jpratmarti opened #56 "[SPRINT] TXPipe CosmoDC2 paper"
# TXPipe CosmoDC2 paper

We will work on some sections of the draft and fill them in.

Contacts: Judit Prat, Joe Zuntz
Day/Time: Thursday 8:00am Pacific
Main communication channel: #desc-3x2pt
GitHub repo: https://github.com/LSSTDESC/txpipe-cosmodc2
Overleaf: https://www.overleaf.com/project/5ee269ba719e070001989231

## Goals and deliverable
Fill in Section 3 in the paper, which is the 'TXPipe' de

[2021-10-25 22:05] biancasersante opened #57 "Augur"
# [Augur]

[Question sessions about Augur and its functionalities]

Contacts: b.sersante@uu.nl
Day/Time: 17:30 CET/11:30 Eastern/8:30 Pacific
Main communication channel: ZOOM: https://stanford.zoom.us/j/825521568
GitHub repo: https://github.com/lsstdesc/augur

## Goals and deliverable
[Augur is a forecasting code for Cosmology computations and the aim of the session is to gain a better understandi

[2021-10-25 23:16] Lhior commented on #38
I have calculated the 3D auto and cross correlation functions for all 5 bins. The PR was approved by @jharno and merged. @mishakb and I are wondering what needs to be done for "validating" the catalogs? [item 1 in the to-do list]

[2021-10-26 00:47] mishakb commented on #38
@Lhior and I have been discussing and analyzing some of the output auto/cross-correlations using the catalogs and treecor output.  @jharno has already merged the PR with the 15 correlation files but here are two examples plots that @Lhior and I have produced and have been discussing.
![IA_Sprint_TreeCorr_Auto_Correlation_11](https://user-images.githubusercontent.com/22988515/138790044-74651e5c-90b

[2021-10-26 00:51] rmandelb commented on #37
Details for the sprint tomorrow:

- I will be working on this from 9am-2pm Eastern on Tuesday except for an hour-long break for a meeting+lunch in the middle, plus the sprint pitches.
- I reserved [DESC #11](https://stanford.zoom.us/j/91237847883?pwd=blBtZW8zTGNKc3FFRTQ4bGU5VEJ6UT09) and put this on the sprint calendar.  I plan to have Zoom open while I'm working on this, except for during the pit

[2021-10-26 06:10] schoeneberg commented on #31
I would love to help out with this issue/sprint! Just send me a zoom link I can join (or something similar), and I will be able to connect! (I registered through the official link, but I didn't manage to get additional access).

[2021-10-26 06:11] schoeneberg commented on #23
I would be happy to help out with the writing, especially for the section about the FFTlog code. Let me know where I can join to participate!

[2021-10-26 07:33] m-aguena commented on #29
My update from monday, started this issue:
https://github.com/LSSTDESC/CLMM/pull/447#issue-1035315109

[2021-10-26 10:41] c-d-leonard commented on #23
That would be awesome @schoeneberg, thank you! I am planning on getting the new kernels done (#30 ) today and will probably switch the paper writing later in the week, but if you would like to go ahead and draft something for the section that is currently a placeholder in the draft linked above for each entry, describing the code and what approach it takes, that would be amazing. Currently there i

[2021-10-26 10:44] c-d-leonard commented on #31
That would be so great, @schoeneberg! Ideally we want to coordinate this with @t-ferreira as she is the one who has been seeing this discrepancy, Tassia are you available at some particular time this week to zoom with Nils and maybe me also and try to figure this out?

[2021-10-26 12:58] ManuGangler commented on #44
Let's meet in ~1 H at [DESC # 6](https://stanford.zoom.us/j/97334625376?pwd=c2VwcHNpQldPODJXQWZYbTNhSkV1UT09)

[2021-10-26 15:38] c-d-leonard commented on #30
Progress today: made dNdz's and kernels corresponding to the following cases:
- lens and source z bins both half and a quarter the width of the fiducial case (same number of bins as fiducial case, same underlying dNdz). The half tne quarter refer to the width of the top hat selection function on the true dNdz prior to applying photo-z scatter for the lenses, and the fraction of the galaxies used t

[2021-10-26 15:40] rmandelb commented on #37
I have to go for ~45 minutes, but will be back after that.  For now, there is some preliminary code in the repo, and plots here: https://github.com/LSSTDESC/PubSystem-plots/tree/main/plots

[2021-10-26 15:40] c-d-leonard commented on #30
plots of the dNdz's for the half and quarter width bin case as well as fiducial for comparion

[dNdz_sources_quarterwidth_sigz0.01.pdf](https://github.com/LSSTDESC/SprintWeek2021/files/7419540/dNdz_sources_quarterwidth_sigz0.01.pdf)
[dNdz_lenses_quarterwidth_sigz0.006.pdf](https://github.com/LSSTDESC/SprintWeek2021/files/7419541/dNdz_lenses_quarterwidth_sigz0.006.pdf)
[dNdz_sources_halfwidth_sigz0

[2021-10-26 16:36] katrinheitmann commented on #37
I am available for ~30 minutes now (12:30pm ET). I'll hang out in  zoom 11 :-)

[2021-10-26 17:41] jchiang87 commented on #52
@mpwiesner I can help with this.  Others have looked for similar kinds of info.   I'm free basically any time on Thursday.

[2021-10-26 17:58] sethdigel commented on #11
The plots are very nice.  I'd like to put in a vote for having the order of the project status be completed, active, created, inactive (from bottom to top) in the bar charts.

[2021-10-26 21:43] katrinheitmann commented on #11
@sethdigel I think your comment went into the wrong github issue.

[2021-10-26 22:18] rmandelb commented on #37
The code in the repo has been updated/improved (following a more detailed TODO list: https://github.com/LSSTDESC/PubSystem-plots/issues/1).

Some notes:
- The pub system csv dumps don't have date info, therefore there's no way to select recent papers.
- They also don't have a flag for whether a given publication is a note or a refereed journal article, so if we care to distinguish, the csv dumps w

[2021-10-26 23:23] katrinheitmann commented on #37
Super nice! One very small suggestion: I am wondering if the tick marks on the y-axis should just be integer? (It's only for the paper_wg_bar plot, the others are only integers.)

[2021-10-26 23:50] rmandelb commented on #37
Well I thought we might have 127.5 papers at some point, so ...

Yeah, good idea, fixed it and pushed the updated code + plots.

[2021-10-27 11:35] marina-ricci commented on #39
zoom link : https://yale.zoom.us/j/815925855

[2021-10-27 12:23] carlosggarcia commented on #34
See the following PR:
 - TJPCov: https://github.com/LSSTDESC/TJPCov/pull/26
 - TXPipe: https://github.com/LSSTDESC/TXPipe/pull/215

It runs, but parallelization is missing.

[2021-10-27 15:37] humnaawan commented on #1
i've attempted a first draft [here](https://docs.google.com/document/d/1KAi9_UtIzpM2diXlvw5dT3T9aBhDu2LUew2bkBLK5Kw/edit?usp=sharing), and have shared the doc with the meetings committee and the LOC. the idea is to iterate asynchronously and hopefully converge on the questions by friday.

[2021-10-27 17:36] katrinheitmann commented on #12
Thanks for a useful discussion this morning. Tomorrow, I could meet at these times: 7-8am PT, 8-9am PT, 9-10am PT or 12-1pm PT. Friday I could do 7am PT-8am PT or 10-11am PT. If any of those work for others, it would be nice to have a follow up discussion.

Some conclusions from today (feel free to add) as I understood them, please correct if I did not capture them correctly:
- we want to enable t

[2021-10-27 17:49] egawiser commented on #12
I could call in for a half-hour at 8:30am PT or at 12-1 PT tomorrow, but neither Friday time works for me.  No problem if I miss the second discussion though.  In case that happens, let me re-state some proposals made on today's Zoom chat here:
Could the beyond-one-year content be terse milestones like "validate TXPipe on commissioning data" with an expected deadline, rough-estimated FTEs to achie

[2021-10-27 21:37] mpwiesner commented on #52
@jchiang87 great! Perhaps we could talk at 10am PDT Thursday about how to proceed with this?

[2021-10-27 21:42] jchiang87 commented on #52
@mpwiesner Sounds good.  I've added this to my calendar. Will you reserve a Zoom room for this?

[2021-10-28 00:47] rmandelb commented on #12
My schedule is a train wreck, and the only one of those options that works for me is Thurs 8:30-9:30am Pacific (and I understand if you decide to proceed without me).

+1

In the context of working towards specific early science analyses, I think it would be natural to have terse milestones of that sort along the way.  Keeping it as vague as this would avoid issues with things going stale.  And pu

[2021-10-28 02:05] katrinheitmann commented on #12
I would be happy to meet for another 30 minutes at 8:30 PT. I'll be on zoom.

[2021-10-28 03:43] mishakb commented on #12
I meant to respond earlier ... by magic that 1/2 hour should work for me tomorrow and then I need to run give an exam to my students! So in principle I should be able to join in that little window.

[2021-10-28 11:09] nsevilla commented on #12
Concerning the split high level Science Planning document, if we indeed end up doing that. I believe that the main goal of having this split is to have a straightforward, concrete, introductory document that leads to the more detailed SRM. In that sense, the current first sections 1-3 of the SRM I don't think achieve this. Some of the WG info could be ported over, and the projects should be trimme

[2021-10-28 12:22] m-aguena commented on #47
Links for the sprint:

-  [CL Zoom](https://stanford.zoom.us/j/774654548) (usual password)
- [Slides](https://docs.google.com/presentation/d/1-VyngvdYPlIYcc8OcT-wmgpZRly4L79XKGBYx6MyN4c/edit?usp=sharing)
- [Minutes](https://docs.google.com/document/d/1a98fvGePamt__ZwFk16XLQ_F9AnzIhc2JAu_HplsgGc/edit?usp=sharing)

[2021-10-28 15:01] mpwiesner commented on #52
@jchiang87 I reserved DESC Room #18: https://stanford.zoom.us/j/95650439227?pwd=em1nZHVsR05STkwzd1JqSkUrVkR6dz09#success

[2021-10-28 15:15] m-aguena commented on #29
Progress from wednesday, PR closed:

- https://github.com/LSSTDESC/CLMM/pull/399
- https://github.com/LSSTDESC/CLMM/pull/440
- https://github.com/LSSTDESC/CLMM/pull/406
- https://github.com/LSSTDESC/CLMM/pull/440

[2021-10-28 15:33] katrinheitmann commented on #12
I am on currently at the same zoom as yesterday: https://stanford.zoom.us/j/93461996092?pwd=RUdrYkYzdnRiVmdwSk1vcFAyZ3hKUT09

[2021-10-28 16:28] c-d-leonard commented on #23
Progress from today and yesterday: Nils @schoeneberg gave a lot of very useful comments on the draft and drafted a section on his entry. Today I went through and incorporated his comments, as well as finishing drafting the setup section. I think in principle we have a full draft of the background / setup sections minus other entry summaries.

[2021-10-28 19:05] jbkalmbach commented on #49
Made progress on final section of pzflow paper demonstrating the ability to marginalize over missing photometric data with pzflow.

![image](https://user-images.githubusercontent.com/4755090/139319502-46e4d48e-55c0-4606-a0b5-457b29d20b25.png)

[2021-10-28 23:36] arunkannawadi commented on #10
^ PR with the original target above.

[2021-10-29 01:00] rmandelb commented on #37
Update on the code for making plots using outputs from PubDB:

- The code in [PubSystem-plots](https://github.com/LSSTDESC/PubSystem-plots) has been cleaned up.
- There is now a useful README explaining how to use the code, and some caveats about it and potential future improvement.

[2021-10-29 01:42] kadrlica commented on #10
Sorry, @yymao what we would need to do this week is figure out how to export the data from the VM that is hosting the PubDB. I've pinged Brian about this.

[2021-10-29 02:27] arunkannawadi commented on #10
@kadrlica Do you want to keep this issue open, or open a new issue elsewhere given that much of PubDB-webpage integration work will happen after the sprint week is over.

[2021-10-29 13:36] kadrlica commented on #10
Let's close it and open it somewhere else (maybe on `desc-pubdb`)

[2021-10-29 14:59] mbronikowski commented on #6
Work-in-progress code to be tested:
[weightedAvgMetaMetric.txt](https://github.com/LSSTDESC/SprintWeek2021/files/7442879/weightedAvgMetaMetric.txt)

[2021-10-29 15:07] c-d-leonard commented on #23
This is in pretty good shape! We now have a full draft of all the background sections other than entry summaries (we have the one for matter), and we have a skeleton of the results section awaiting plots and discussion. I'm going to consider this sprint complete!

[2021-10-29 15:07] #23 closed, assigned to c-d-leonard

[2021-10-29 15:13] c-d-leonard commented on #30
PR to the main repo branch has been made, I am considering this sprint closed.

[2021-10-29 15:13] #30 closed, assigned to c-d-leonard

[2021-10-29 15:14] c-d-leonard commented on #31
@t-ferreira and @schoeneberg knocked this one out of the park yesterday! It was an issue with an old install of CLASS not being overwritten when it appeared that it should. Issue / sprint complete and closed.

[2021-10-29 15:14] #31 closed, assigned to c-d-leonard, tassia-ferreira

[2021-10-29 15:18] c-d-leonard commented on #33
We didn't get to this this week, but we have made a lot of great progress and are now ready to tackle it.

Things that still need to be done before tests can be run:

- Figure out the most appropriate set of Delta chi^2 at which to ask participants to provide versions of their code for timing. This should be based on where the p-value would become an issue for our particular case.

Things that are

[2021-10-29 15:51] c-d-leonard commented on #45
I didn't get to this one this week. It's still on my to do list.

[2021-10-29 16:48] humnaawan commented on #9
i didnt get to this during the week but its still on my todo list - will post updates here once the task is done.

[2021-10-29 19:51] evevkovacs commented on #21
This code looks to be just what we need to accomplish both goals of fixing the bad columns in cosmoDC2 and writing out the catalog in parquet format. I think all that is needed is to insert my code for fixing specific columns into the loop over columns. @yymao Do you see any problems with this approach?

[2021-10-31 02:52] arunkannawadi commented on #10
Thanks Alex! Closing this issue as the PR for this sprint is merged on to the lsstdesc.github.io repo.

[2021-10-31 02:52] #10 closed, assigned to arunkannawadi, kadrlica

[2021-11-02 03:29] katrinheitmann commented on #12
A few more take-away messages from this sprint (please comment/correct/add):
- A basically static document that would provide a scientific overview of DESC would be useful. At the heart of it would be Section 3 of the current SRM which has a description and priorities of the working groups. This part of the SRM has gotten positive feedback in the past. In addition, we would rewrite section 1 and 2

[2021-11-03 00:15] cahebert commented on #18
Completed!

[2021-11-03 00:15] #18 closed, assigned to MorganSchmitz

[2021-11-14 20:41] #19 closed, assigned to ismael-mendoza

[2021-11-18 03:00] katrinheitmann commented on #22
This sprint was quite successful! thanks to everybody who contributed. We have now only 8 unresolved issues left.

[2021-11-18 03:00] #22 closed, assigned to jchiang87, katrinheitmann

[2021-11-18 04:13] katrinheitmann commented on #12
This was a very fruitful sprint and we have now a follow-up [GitHub repo](https://github.com/LSSTDESC/SciencePlanning) to continue our planning work.

[2021-11-18 04:13] #12 closed, assigned to rmandelb, evevkovacs, nsevilla, egawiser, katrinheitmann, mishakb